#location-table, #owner-table, #server-table, #virtual-ip-table {
    -webkit-box-shadow: 0 0 10px gray;
    -moz-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
}

.container {
    width: 100%;
}

.glyphicon-cog {
    font-size: 20px;
}

.panel {
    -webkit-box-shadow: 0 0 10px gray;
    -moz-box-shadow: 0 0 10px gray;
    box-shadow: 0 0 10px gray;
}

body {
    background-color: #3c3c3c;
    font-family: Roboto, sans-serif;
    padding-top: 5%;
}