#virtual-ips {
    margin-top: 2.5%;
}

.upload-csv-button {
    margin-top: 1%;
}

.import-export-buttons-container {
    margin-top: 1%;
}

.button-spacing {
    margin-right: 0.5%;
}

h2 {
    font-weight: bold;
}