#summary-table {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
}

.summary-panel {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.panel-heading-center-text {
    text-align: center;
}

.badge-blue {
    background-color: #337AB7;
}

.badge-blue:hover {
    background-color: #2D6987;
}

.badge-red {
    background-color: #B94A48;
}

.badge-red:hover {
    background-color: #953B39;
}

.virtual-list-group .active {
    background-color: #B94A48;
    border-color: #B94A48;
}

.virtual-list-group .active:hover {
    background-color: #B94A48;
    border-color: #B94A48;
}

.collapse-i {
    float: right;
    margin-right: 0.75%;
    margin-top: 0.25%;
}

table li {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    font-size: 1.1em;
}

table li:hover {
    background: #FCD581;
}

td {
    width: 50%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}