#server-table > thead > tr:first-child > th:first-child,
#server-table > tbody > tr > td:first-child {
    display: none;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: lavender;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: darkkhaki;
}

.edit-row {
    color: #3c3c3c;
    margin: 0 5%;
}

.delete-row {
    color: red;
    margin: 0 10%;

}

th {
    background-color: lightskyblue;
    color: #3c3c3c;
}

a {
    color: #3c3c3c;
}