th {
    background-color: lightskyblue;
    color: black;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: lavender;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: darkkhaki;
}