#virtual-ip-table > thead > tr:first-child > th:first-child,
#virtual-ip-table > tbody > tr > td:first-child {
    display: none;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: lavender;
}

tbody tr td,
tbody tr th {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #FCD581;
}

.table-action-buttons {
    margin: 0 auto;
    text-align: center;
}

.edit-button {
    color: #3c3c3c;
    min-width: 44%;
    margin-right: 1%;
}

.delete-button {
    min-width: 44%;
    margin-left: 1%;
}

tbody tr {
    font-size: 14px;
}

span {
    text-align: center;
}

th {
    background-color: #A4C2A5;
    color: #3c3c3c;
    text-align: center;
}

a,a:hover,a:link,a:visited,a:active {
    text-decoration: none;
    outline: none;
    border: none;
}