{% extends "journal/base.html" %}
{% load bootstrap3 %}

<!DOCTYPE html>
    {% block body_block %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/add_owner.css' %}">

        <div class="container">
            <div class="jumbotron">
                <h1>Add Owner</h1>
                <hr class="separator">

                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form add_owner_form %}

                    {% buttons %}
                    <button type="submit" class="btn btn-primary add_owner_button">
                        {% bootstrap_icon "plus" %} Add Owner
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    {% endblock %}