{% extends "journal/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
{% block body_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/import_export_csv.css' %}">
    <link rel="stylesheet" href="{% static 'libs/jquery-confirm/jquery-confirm.min.css' %}">
    <script src="{% static 'libs/jquery-confirm/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}" type="text/javascript"></script>

    <div class="container">
        <div class="jumbotron">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2>Import/Export CSV</h2>
                </div>
                <div class="panel-body">
                    <p>
                         {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if 'success' in message.tags %} alert-success {% elif 'error' in message.tags %} alert-danger {% endif %} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </p>

                    <div id="physical-servers" class="panel panel-warning">
                        <div class="panel-heading">
                            <h4>Import/Export Physical Servers</h4>
                        </div>
                        <div class="panel-body">
                            <form id="physical-server-upload-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.file }}

                                <div class="import-export-buttons-container">
                                    <input type="submit" id="physical-servers-submit" name="physical-servers-submit" value="Upload CSV" class="btn btn-success button-spacing hvr-grow-shadow">
                                    <input type="button" value="Download CSV Template" class="btn btn-warning button-spacing-template hvr-grow-shadow" onclick="downloadPhysicalCSVTemplate()">
                                </div>
                            </form>

                            <div class="import-export-buttons-container">
                                <input type="button" value="Import CSV Data" class="btn btn-primary button-spacing hvr-grow-shadow" onclick="importPhysicalWarning()">
                                <input type="button" value="Delete Uploaded CSVs" class="btn btn-danger button-spacing hvr-grow-shadow" onclick="clearAllCsv()">
                                <input type="button" value="Export Physical Servers" class="btn btn-warning button-spacing hvr-grow-shadow" onclick="exportPhysicalCsv()">
                            </div>
                        </div>
                    </div>

                    <div id="virtual-ips" class="panel panel-warning">
                        <div class="panel-heading">
                            <h4>Import/Export Virtual IPs</h4>
                        </div>
                        <div class="panel-body">
                            <form id="virtual-ips-upload-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.file }}

                                <div class="import-export-buttons-container">
                                    <input type="submit" id="virtual-ips-submit" name="virtual-ips-submit" value="Upload CSV" class="btn btn-success button-spacing hvr-grow-shadow">
                                    <input type="button" value="Download CSV Template" class="btn btn-warning button-spacing-template hvr-grow-shadow" onclick="downloadVirtualCSVTemplate()">
                                </div>
                            </form>

                            <div class="import-export-buttons-container">
                                <input type="button" value="Import CSV Data" class="btn btn-primary button-spacing hvr-grow-shadow" onclick="importVirtualWarning()">
                                <input type="button" value="Delete Uploaded CSVs" class="btn btn-danger button-spacing hvr-grow-shadow" onclick="clearAllCsv()">
                                <input type="button" value="Export Virtual IPs" class="btn btn-warning button-spacing hvr-grow-shadow" onclick="exportVirtualCsv()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}